<div *ngIf="cart != undefined; else notLoggedIn" class="container">
  <div class="title">
    <h1>Carrello</h1>
    <button
      mat-raised-button
      color="accent"
      [disabled]="cart.content.length == 0"
      class="action-button pay-button"
    >
      Acquista
    </button>
  </div>

  <div *ngIf="cart.content.length != 0; else cartEmpty">
    <div class="comic-frame" *ngFor="let item of cart.content">
      <app-comic-rendered [comic]="item.comic"></app-comic-rendered>

      <div class="button-space">
        <div class="button-container">
          <div class="quantity">
            <button
              mat-icon-button
              [disabled]="item.quantity == 1"
              (click)="decreaseQuantity(item)"
              class="action-button"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <span>{{ item.quantity }}</span>
            <button
              mat-icon-button
              (click)="increaseQuantity(item)"
              class="action-button"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>

          <div>
            <button
              mat-mini-fab
              (click)="removeComic(item)"
              class="action-button"
            >
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
          </div>

          <div>
            <button mat-mini-fab class="action-button">
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cartEmpty>
    <h2 style="text-align: center;">Il tuo carrello è vuoto!</h2>
  </ng-template>

  <div class="footer">
    <h1></h1>
    <button
      mat-raised-button
      color="accent"
      [disabled]="cart.content.length == 0"
      class="action-button pay-button"
    >
      Acquista
    </button>
  </div>
</div>

<ng-template #notLoggedIn>
  <h2 style="text-align: center;">Devi effettuare l'accesso prima.</h2>
</ng-template>
