mat-card {
  width: 800px;
  margin: 40px auto;
}

.paginator {
  width: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.paginator input {
  width: 10px;
  border-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid rgb(255, 82, 82);
}

td, th {
  height: 50px;
  width: 200px;
  font-size: medium;
  text-align: center;
}

.footer {
  width: 80%;
  margin: 40px auto 10px auto;
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}
