<div class="comic-space">
  <div class="img-container">
    <img
      class="cover"
      [src]="'http://localhost:8080/comics/cover/' + comic.id"
      alt="Cover"
    />
    <img
      *ngIf="comic.quantity == 0"
      class="sold-out"
      src="../../assets/sold_out.png"
      alt="SOLD OUT"
    />
  </div>

  <div class="comic-details-container">
    <div>
      <h3 class="cmc-number">Volume {{ comic.number }}</h3>
      <span class="collection-name">{{ comic.collection.name }}</span>
      <h3 id="price">
        <span [ngStyle]="comic.discount ? {'text-decoration-line': 'line-through'} : {}">€{{ comic.collection.price }}</span>
        <span *ngIf="comic.discount" class="percentage">&nbsp;{{comic.discount.percentage}}%&nbsp;</span>
        <span *ngIf="comic.discount">€{{ comic.collection.price - comic.collection.price/100 * comic.discount.percentage}}</span>
      </h3>

      <table>
        <tr class="row">
          <td>Autori:</td>
          <td>
            <a (click)="showAuthor(auth)" *ngFor="let auth of comic.authors" class="author-link">
              {{ auth.name }}
            </a>
          </td>
        </tr>
        <tr class="row">
          <td>Data di pubblicazzione:</td>
          <td>{{ comic.publicationDate | date: "dd/MM/yyyy" }}</td>
        </tr>
        <tr class="row">
          <td>Pagine:</td>
          <td>{{ comic.pages }}</td>
        </tr>
        <tr class="row">
          <td>Formato e rilegatura:</td>
          <td>{{ comic.collection.formatAndBinding }}</td>
        </tr>
        <tr class="row">
          <td>Colore o B&N:</td>
          <td>{{ comic.collection.color ? "colore" : "bianco e nero" }}</td>
        </tr>
        <tr>
          <td>ISBN</td>
          <td>{{ comic.isbn }}</td>
        </tr>
      </table>

      <button
        mat-button
        color="accent"
        (click)="showDescription = true"
        class="description-button"
      >
        Leggi la descrizione
      </button>
    </div>
  </div>

  <div *ngIf="showDescription" class="description-container">
    <mat-card [class.mat-elevation-z0]="true" class="description-card">
      <mat-card-title>Volume {{ comic.number }}</mat-card-title>
      <mat-card-subtitle>{{
        comic.collection.name
      }}</mat-card-subtitle>

      <mat-card-content>
        <p>{{ comic.description }}</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="accent" (click)="showDescription = false">
          Chiudi
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
