<div *ngIf="category != undefined" class="title">
  <h1>{{category.name}}</h1>
</div>

<div class="paginator">
  <span>
    <button mat-icon-button [disabled]="currentPage==1" (click)="previousPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{currentPage}}</span>
    <button mat-icon-button [disabled]="collections.length==0" (click)="nextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </span>
</div>

<div class="collections">
  <app-collection-list [collections]="collections"></app-collection-list>
</div>
