<div *ngIf="collections.length != 0; else noResult" class="container">

  <div *ngFor="let col of collections" class="card-space">
    <mat-card matRipple (click)="showComics(col)" class="card">
      <img
        [src]="'http://localhost:8080/collections/cover/' + col.id"
        alt="Image"
      />
    </mat-card>
    <p class="title">
      <strong>{{ col.name }}</strong>
    </p>
    <mat-chip-list>
      <mat-chip *ngFor="let cat of col.categories" selected>
        {{ cat.name }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

<ng-template #noResult>
  <h2 class="no-result">Nessun risultato!</h2>
</ng-template>
