<div class="collection-container" *ngIf="collections.length != 0; else noResult">

  <mat-grid-list cols="3" gutterSize="10px" rowHeight="3:5">
    <mat-grid-tile *ngFor="let col of collections">
      <mat-card  class="collection-card">
        <img mat-card-image [src]="'http://localhost:8080/collections/cover/' + col.id" (click)="showComics(col)" />
        <mat-card-footer class="collection-card-footer">
          <mat-card-title> {{col.name}} </mat-card-title>
            <mat-chip-set>
              <mat-chip *ngFor="let cat of col.categories" (click)="showCategory(cat)">{{cat.name}} </mat-chip>
            </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
</div>

<ng-template #noResult>
  <h2>Nessun risultato!</h2>
</ng-template>