.paginator {
  width: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.paginator input {
  width: 10px;
  border-style: none;
}

.container {
  width: 800px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: white;
  width: 256px;
  height: 404px;
  margin: 10px auto;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: auto;
  height: 400px;
}

.title {
  font-size: large;
  text-align: center;
}

mat-chip {
  border: 2px solid rgb(255, 82, 82);
}

mat-chip:hover {
  cursor: pointer;
}

.no-result {
  text-align: center;
}
