.collection-container {
  min-width: 1150px;
  max-width: 1150px;
  margin: 0 auto;
}

.collection-card {
  max-width: 300px;
}

.collection-card-footer {
  padding: 8px;
}

::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  flex-wrap: unset;
}