.container {
    margin: 0 auto;
}

.card-footer {
    padding: 8px;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
}

/*list of mat-chip scrollable horizontally*/
::ng-deep .mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    flex-wrap: unset;
}