.container {
  width: 600px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h3 {
  text-align: center;
}

span {
  color: rgb(255, 82, 82);
}

.input-field {
  width: 200px;
}

.action-button {
  color: white;
}
