<mat-card class="container">
  <mat-card-content>
    <!-- Login -->
    <div>
      <h3>Inserisci la tua e-mail per <span>accedere</span></h3>
      <form #loginForm="ngForm">
        <mat-grid-list cols="2" rowHeight="80">
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>E-mail</mat-label>
              <input
                matInput
                required
                email
                placeholder="abc@example.com"
                [(ngModel)]="loginEmail"
                name="login-email"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <button
              [disabled]="!loginForm.valid"
              mat-raised-button
              color="accent"
              class="action-button"
            >
              Accedi
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
    <mat-divider></mat-divider>
    <!-- registration -->
    <div>
      <h3>Oppure <span>registrati</span> inserendo i tuoi dati</h3>
      <form #registrationForm="ngForm">
        <mat-grid-list cols="2" rowHeight="80">
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>Nome</mat-label>
              <input
                matInput
                required
                minlength="2"
                maxlength="20"
                placeholder="Edward"
                [(ngModel)]="registrationUser.name"
                name="registration-name"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>Cognome</mat-label>
              <input
                matInput
                required
                minlength="2"
                maxlength="20"
                placeholder="Elric"
                [(ngModel)]="registrationUser.surname"
                name="registration-surname"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>Data di nascita</mat-label>
              <input
                matInput
                required
                [matDatepicker]="picker"
                [max]="registrationMaxDate"
                [(ngModel)]="registrationUser.birthDate"
                name="registration-birthdate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>E-mail</mat-label>
              <input
                matInput
                required
                email
                maxlength="50"
                placeholder="abc@example.com"
                [(ngModel)]="registrationUser.email"
                name="registration-email"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>Telefono</mat-label>
              <input
                matInput
                tel
                minlength="6"
                maxlength="20"
                [(ngModel)]="registrationUser.phoneNumber"
                name="registration-phoneNumber"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field
              appearance="outline"
              color="accent"
              class="input-field"
            >
              <mat-label>Città</mat-label>
              <input
                matInput
                minlength="2"
                maxlength="20"
                [(ngModel)]="registrationUser.city"
                name="registration-city"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile></mat-grid-tile>
          <mat-grid-tile>
            <button
              [disabled]="!registrationForm.valid"
              mat-raised-button
              color="accent"
              class="action-button"
            >
              Registrati
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </mat-card-content>
</mat-card>
