<div *ngIf="user != undefined; else notLoggedIn">
  <div class="title">
    <h1>Liste desideri</h1>
    <button
      mat-mini-fab
      [disabled]="user == undefined"
      (click)="createList()"
      class="action-button"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="wishLists.length != 0; else noLists">
    <div *ngFor="let list of wishLists" class="container">
      <span (click)="showListContent(list)" class="list-name">{{ list.name }}</span>
      <div>
        <button mat-icon-button color="warn" (click)="renameList(list)">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteList(list)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noLists>
  <h2 style="text-align: center">Fai click su + per creare una nuova lista!</h2>
</ng-template>

<ng-template #notLoggedIn>
  <h2 style="text-align: center">Devi effettuare l'aceesso prima.</h2>
</ng-template>
