.container {
  width: 100%;
  height: 100%;
}

.toolbar {
  height: 55px;
}

.side-element {
  width: 280px;
}

.logo {
  width: min-content;
  padding: 2px 3px;
  font-size: larger;
  border-radius: 15px;
}

.logo:hover {
  cursor: pointer;
  background-color: rgb(255, 225, 225);
}

.logo:active {
  background-color: rgb(253, 200, 200);
}

.capital {
  font-weight: bold;
  color: rgb(255, 82, 82);
}

.spacer {
  flex: 1 1 auto;
}

.controls {
  display: flex;
  justify-content: space-between;
}

#login-button-container {
  text-align: end;
}

::ng-deep .mat-badge-content {
  background: rgb(255, 82, 82) !important;
  color: white !important;
}

.icon {
  color: white;
}

.toolbar .login-button {
  color: white;
}

.content {
  width: 100%;
  margin: 10px auto;
  overflow: scroll;
}

.bottom-bar {
  position: absolute;
  bottom: 0;

  height: 25px;

  width: 100%;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar span {
  margin: 0px 5px;
}

