.toolbar {
  height: 7%;
}

.logo {
  font-size: larger;
  width: 280px;
}

.capital {
  font-weight: bold;
  color: rgb(255, 82, 82);
}

.spacer {
  flex: 1 1 auto;
}

.controls {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-badge-content {
  background: rgb(255, 82, 82) !important;
  color: white !important;
}

.icon {
  color: white;
}

.toolbar .login-button {
  color: white;
}

.content {
  width: 100%;
  margin: 10px auto;
  height: 88.8%;
  overflow: scroll;
}

.bottom-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

