.title {
  margin: 10px auto;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 200px;
  margin-right: 20px;
}

p {
  margin: 0px auto 20px auto;
  width: 800px;
}

.paginator {
  width: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.paginator input {
  width: 10px;
  border-style: none;
}

.collections {
  margin: 10px auto;
}
