<div *ngIf="author != undefined">
  <div class="title">
    <img
      [src]="'http://localhost:8080/authors/cover/' + author.id"
      alt="Image"
    />
    <h1>{{ author.name }}</h1>
  </div>
  <p>{{ author.biography }}</p>
</div>

<div class="paginator">
  <span>
    <button mat-icon-button [disabled]="currentPage==1" (click)="previousPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{currentPage}}</span>
    <button mat-icon-button [disabled]="collections.length==0" (click)="nextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </span>
</div>

<div class="collections">
  <app-collection-list [collections]="collections"></app-collection-list>
</div>
