.comic-space {
  width: 700px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: min-content;
}

.img-container {
  position: relative;
}

.img-container .cover {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  outline: 1px solid gray;
}

.img-container .sold-out {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.comic-details-container {
  padding: 20px;
  font-family: "Acme";
}

.comic-details-container h3 {
  font-family: "Roboto";
}

.comic-details-container .cmc-number {
  font-weight: bold;
  margin-bottom: 0px;
}

.comic-details-container .collection-name {
  font-size: smaller;
}

table {
  border-collapse: collapse;
}

.row {
  border-bottom: 1px solid rgba(128,128,128,0.30);
}

td {
  height: 25px;
  width: 200px;
}

.author-link {
  margin-right: 6px;
  text-decoration: none;
  color: rgb(255, 82, 82);
}

.author-link:hover{
  text-decoration: underline;
}

.description-button {
  margin-top: 10px;
}

.action-button {
  color: white;
}

.description-container {
  background-color: rgba(128,128,128,0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.description-card {
  min-width: 400px;
  border: 1px solid rgb(255, 82, 82);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
