.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  grid-auto-rows: 400px;
  gap: 20px;
  justify-items: center;
  align-items: start;
  justify-content: center;
}

.item {
  overflow-y: visible;
}