<div class="paginator">
  <span>
    <button mat-icon-button [disabled]="currentPage==1" (click)="previousPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{currentPage}}</span>
    <button mat-icon-button [disabled]="comics.length==0" (click)="nextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </span>
</div>

<div *ngIf="comics.length != 0; else noResult">
  <div class="title">
    <h1>{{ comics[0].collection.name }}</h1>
    <h3>{{ comics[0].collection.description }}</h3>
  </div>

  <div class="comic-frame" *ngFor="let cmc of comics">
    <app-comic-rendered [comic]="cmc"></app-comic-rendered>

    <div class="button-space">
      <div class="button-container">
        <div
          [ngClass]="(cmc.quantity==0 || user==undefined) ? 'selector-disabled' : ''"
          class="quantity"
        >
          <button
            mat-icon-button
            [disabled]="cmc.quantity==0 || qty.valueAsNumber==1 || user==undefined"
            (click)="qty.valueAsNumber=qty.valueAsNumber-1"
            class="action-button"
          >
            <mat-icon>remove</mat-icon>
          </button>
          <input
            type="number"
            value= "1"
            [ngClass]="(cmc.quantity==0 || user==undefined) ? 'selector-disabled' : ''"
            readonly
            #qty>
          <button
            mat-icon-button
            [disabled]="cmc.quantity==0 || qty.valueAsNumber==cmc.quantity || qty.valueAsNumber==9 || user==undefined"
            (click)="qty.valueAsNumber=qty.valueAsNumber+1"
            class="action-button"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div>
          <button
            mat-mini-fab
            [disabled]="cmc.quantity == 0 || user == undefined"
            (click)="addToCart(cmc,qty.valueAsNumber)"
            class="action-button"
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>

        <div>
          <button
            mat-mini-fab
            [disabled]="user == undefined"
            class="action-button"
          >
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResult>
  <h2 class="no-result">Non c'è niente qui!</h2>
</ng-template>
